@charset "utf-8";
/* CSS Document */

* {
	margin: 0px;
	padding: 0px;
}
body {
	/* [disabled]background-color: #666;
*/
	background-image: url(../tp/shuben.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
}
.topNAV {
	background-color: #79573B;
	position: fixed;
	width: 100%;
	top: 0px;
	background-image: none;
	z-index: 4;
}
.topNAV .logo {
	float: left;
	height: 85px;
	width: 200px;
	margin-left: 20px;
}
.topNAV ul li a {
	float: left;
	width: 180px;
	margin-top: 30px;
	font-size: 24px;
	line-height: 40px;
	text-decoration: none;
	color: #FFCC66;
	text-align: center;
	text-transform: none;
	font-style: normal;
	font-weight: bolder;
}
.topNAV ul li {
	list-style-type: none;
	float: left;
}
.topNAV ul li:nth-of-type(4){
	background-image: url(../tp/topNAVli.jpg);
	}
.topNAV ul li:hover{background:#242424}
.topNAV ul {
	float: left;
}
#main .book1 .message {
	float: left;
	width: 1048px;
	height: 150px;
	overflow: hidden;
}
#main .book1 img {
	height: 100%;
	width: 100px;
	float: left;
	overflow: auto;
}
#main h1 {
	margin-top: 90px;
	color: rgba(51,51,51,0.8);
}
#main {
	width: 1200px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 75px;
}
#main .book1 {
	border: 1px solid #FFF;
	overflow: hidden;
	height: 100px;
}
#main .book1 .message h2 a {
	color: #CCC;
	text-decoration: none;
	margin-bottom: 20px;
}
#main .book1 .message p {
	margin-top: 5px;
	margin-left: 10px;
	color: #000;
}
.footer {
	color: #FF0;
	background-color: #242424;
	height: 80px;
	text-align: center;
	margin-bottom: 0px;
	bottom: 0px;
	position: static;
	left: 0;
	right: 0;
	height: 60px;
}
.topNAV #jnkc {
	font-weight: 700;
	float: right;
	margin-right: 50px;
}
